<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPhotographerService" />
                <binding name="BasicHttpBinding_IOhadWCFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61612/PhotographerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhotographerService"
                contract="ServiceReference1.IPhotographerService" name="BasicHttpBinding_IPhotographerService" />
            <endpoint address="http://localhost:57169/OhadWCFService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOhadWCFService"
                contract="ServiceReference2.IOhadWCFService" name="BasicHttpBinding_IOhadWCFService" />
        </client>
    </system.serviceModel>
</configuration>